version: 1.0.{build}
configuration: Release
image:
- Visual Studio 2019
environment:
  GitHubOrganisation: MRCollective
  GitHubToken:
    secure: 56uD+0NAv9a2lH6uupDKkxqQHVsBn/jhAPqI34eX2uNLBUiWMxTpQstbWaKaMPjY
services: mssql2019
cache:
  - '%LocalAppData%\NuGet\Cache'    # NuGet < v3
  - '%LocalAppData%\NuGet\v3-cache' # NuGet v3
  - C:\ProgramData\chocolatey\lib -> appveyor.yml
#init:
#- ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
before_build:
- ps: >-
    & nuget restore
    
    & GitVersion /output buildserver /updateassemblyinfo

    If (Test-Path ".\PreBuild.ps1") {
    
      Write-Host "Executing PreBuild.ps1"
      & ".\PreBuild.ps1"
      
    } else {
    
      Write-Host "No PreBuild.ps1 found"
    
    }
build:
  parallel: true
  verbosity: minimal
after_build:
- ps: >-
    Get-ChildItem -Recurse *.nuspec | foreach { nuget pack $_.FullName -Properties "Configuration=Release;Platform=AnyCPU" -Symbols -Version $Env:GitVersion_NuGetVersion }

    $currentTag = git tag -l --points-at HEAD

    $HTTP_Request = [System.Net.WebRequest]::Create("https://api.github.com/repos/$env:GitHubOrganisation/$env:APPVEYOR_PROJECT_NAME/releases/tags/$Env:GitVersion_NuGetVersion")
    
    $HTTP_Request.UserAgent = "Powershell"

    try {
    
      $HTTP_Request.GetResponse()
      
    } catch [Net.WebException] { 
    
        [System.Net.HttpWebResponse] $resp = [System.Net.HttpWebResponse] $_.Exception.Response  
        
        if ($currentTag -And $resp.StatusCode -eq 404 -And (-Not $env:APPVEYOR_PULL_REQUEST_TITLE)) {
        
          $env:SHOULD_DEPLOY = 'true'
          
        }
        
    }
    
    if (Test-Path "docfx.json") {#-And (-Not $env:APPVEYOR_PULL_REQUEST_TITLE)) {
      choco install docfx -y
      & docfx docfx.json
      
      Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:access_token):x-oauth-basic@github.com`n"
      git config --global user.email $env:op_build_user_email
      git config --global user.name $env:op_build_user
      git clone https://github.com/$env:GitHubOrganisation/$env:APPVEYOR_PROJECT_NAME.git -b gh-pages documentation_upload -q
      Copy-Item documentation_upload/.git _site -recurse
      CD _site
      git add -A 2>&1
      git commit -m "$Env:GitVersion_NuGetVersion" -q
      git push origin gh-pages -q
    }
test:
  assemblies:
    only:
      - '**\*.*Tests.dll'
artifacts:
- path: '*.nupkg'
- path: '**\*.vsix'
- path: _site
deploy:
- provider: NuGet
  api_key:
    secure: VHLPzzX6q7AQhNZEkRwpnaX49ADEWyRe16ggQKFJt263041v9fm3TSmoIeDHVrP0
  on:
    SHOULD_DEPLOY: true
after_deploy:
- ps: >-
    npm install github-release-notes -g
    gren release --token=$env:GitHubToken
    git config --global credential.helper store
    
    Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:access_token):x-oauth-basic@github.com`n"
    git config --global user.email $env:op_build_user_email
    git config --global user.name $env:op_build_user
    git clone https://github.com/$env:GitHubOrganisation/$env:APPVEYOR_PROJECT_NAME.git -b gh-pages documentation_upload -q
    Copy-Item documentation_upload/.git _site -recurse
    CD _site
    git add -A 2>&1
    git commit -m "$Env:GitVersion_NuGetVersion" -q
    git push origin gh-pages -q
notifications:
- provider: GitHubPullRequest
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: false
on_finish:
#- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
